/* Base */

Base html,
body {
    width: 70%;
    height: 100%;
    margin: auto;
    line-height: 2em;
}

/* Body */

body {
    font-family: 'Martian Mono', monospace;
    font-size: 1em;
    background-color: #222831;
    color: #f2f2f2;
    text-align: left;
    padding: 50px;
}

a {
    color: #b2d430;
    text-decoration: none;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
}

p {
    font-size: 1em;
}

/* Site header */

.site-header {
    min-height: 56px;
    color: #f2f2f2;
}

.site-title,
.site-title:hover,
.site-title:visited {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: block;
    font-size: 2em;
    letter-spacing: -1px;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
}

.site-title-in-footer {
    font-family: "Press Start 2P", system-ui;
    font-weight: 1em;
    font-style: normal;
}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    margin-left: 20px;
    color: #848484;
    letter-spacing: -.5px;
}

/* Site footer */

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

.site-footer .column {
    float: left;
    margin-bottom: 15px;
}

.footer-col-1 {
    width: 270px;
    /*fallback*/
    width: -webkit-calc(35% - 10px);
    width: -moz-calc(35% - 10px);
    width: -o-calc(35% - 10px);
    width: calc(35% - 10px);
    margin-right: 10px
}

.footer-col-2 {
    width: 175px;
    /*fallback*/
    width: -webkit-calc(23.125% - 10px);
    width: -moz-calc(23.125% - 10px);
    width: -o-calc(23.125% - 10px);
    width: calc(23.125% - 10px);
    margin-right: 10px
}

.footer-col-3 {
    width: 335px;
    /*fallback*/
    width: -webkit-calc(41.875%);
    width: -moz-calc(41.875%);
    width: -o-calc(41.875%);
    width: calc(41.875%);
}

.site-footer ul {
    list-style: none;
}

.site-footer li,
.site-footer p {
    font-size: 1em;
    letter-spacing: -.3px;
    color: #f2f2f2;
}

.github-icon-svg,
.linkedin-icon-svg,
.twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

/* Important */

.important {
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    color: #848484;
}

.face-img {
    border-radius: 50%;
}

/* Posts */

.posts {
    list-style-type: none;
}

.posts li {
    margin-bottom: 30px;
}

.posts .post-link {
    font-size: 1.2em;
    letter-spacing: -1px;
    line-height: 1;
}

.post-link {
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
}

.posts .post-date {
    display: block;
    font-size: 1em;
    color: #818181;
}

.post-date {
    font-family: "Press Start 2P", system-ui;
    font-weight: 100;
    font-style: normal;
}

/* code and pre */
code {
    border-radius: 0.2em;
    padding: 0.2em;;
    background-color: #818181;
    font-weight: bold;
}
pre {
    border-radius: 0.2em;
    font-weight: bold;
}

/* media */

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}